@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="width=device-width" name="viewport" />
    <link asp-href-include="/lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />
    <title>Error</title>
</head>
<body>
    <h2 class="text-danger">Error</h2>
    <h3 class="text-danger">An error occured while processing your request.</h3>
</body>
</html>